In [43]:
import pandas as pd
alarm_survey = pd.read_excel('Alarm Survey Data.xlsx')
alarm_survey.head()

,survey_id,age,number_of_children,activity_level,sleep_quality,number_of_snoozes,alarm_rating
0,1,34,3.0,active,3.0,1,5 stars
1,2,31,3.0,light,3.0,3,3 stars
2,3,18,0.0,light_activity,4.0,1,1 stars
3,4,42,4.0,active,4.0,1,4 stars
4,5,30,1.0,light_activity,1.0,4,3 stars

In [44]:
alarm_survey.describe()

,survey_id,age,number_of_children,sleep_quality,number_of_snoozes
count,6433.000000,6433.000000,6433.000000,6082.000000,6433.000000
mean,3216.302192,29.069175,1.395616,4.232654,1.145811
std,1856.007409,7.472048,1.432192,0.842448,1.599481
min,1.000000,13.000000,0.000000,1.000000,0.000000
25%,1609.000000,23.000000,0.000000,4.000000,0.000000
50%,3217.000000,28.000000,1.000000,4.000000,0.000000
75%,4825.000000,34.000000,2.000000,5.000000,2.000000
max,6366.000000,47.000000,5.500000,5.000000,19.000000

In [45]:
alarm_survey.number_of_children.value_counts()

number_of_children
0.0    2440
2.0    1498
1.0    1172
3.0     788
4.0     331
5.5     204
Name: count, dtype: int64

In [46]:
alarm_survey.activity_level.value_counts()

activity_level
active            2450
lightly active    2289
light_activity     691
very active        669
light              334
Name: count, dtype: int64

In [55]:

import numpy as np

alarm_survey.activity_level = np.where(alarm_survey.activity_level.isin(['light_activity', 'lightly_active' , 'light']),'lightly active', alarm_survey.activity_level)

In [56]:
alarm_survey.activity_level.value_counts()

activity_level
lightly active    3314
active            2450
very active        669
Name: count, dtype: int64